{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ forms.error_message(form, mensagem)}}
    </div>
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Cadastrar Novo Setor</h4></div>
        <div class="panel-body">
          <form name="pesquisa" action="" method="POST">
            <div class="row">
              <div class="col-md-4">
                <label for="setor" class="control-label">Setor</label>
                <input name="setor" type="text" class="form-control" id="setor" required>
              </div>
              <div class="col-md-1">
                <label for="setor" class="control-label">Sigla</label>
                <input name="sigla" type="text" class="form-control" id="sigla" required>
              </div>
              <div class="col-md-2">
                <div class="form-group"><br>
                  <button  type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Salvar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Setores</div>
        <div class="panel-body table-responsive">
          <table class="table table-condensed table-hover table-striped" id="tabela">
            <thead class="bg-primary">
              <tr><td>Setor</td><td class="text-center">Sigla</td><td class="text-center">Ativo</td></tr>
            </thead>
            <tbody>
              {% for setor in setores %}
              <tr><td>{{setor.getNome}}</td><td class="text-center">{{setor.Sigla}}</td><td class="text-center">{{setor.Ativo}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}