.autocomplete-suggestion {
    text-align: right;
    position: relative;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #484848;
    /*border-bottom: 1px solid #D7D7D7;*/
}
.autocomplete-suggestion .pat {
    padding: 5px;
    margin-left: 5%;
    width: 100%;
    height: 100%;
    text-align: left;
    word-wrap: break-word;
}
.autocomplete-suggestion .desc {
    padding: 5px;
    margin-left: 5%;
    width: 100%;
    height: 100%;
    text-align: left;
    /*white-space: normal;*/
    word-wrap: break-word;
}
.autocomplete-suggestion .txt div {
    width: 100%;
    font-weight: bold;
}