{% extends "base.html" %}

{% import "forms.html" as forms %}

{% block content %}
  
<div class="container">
   
    <div class="card card-container">
        <h3 class="text-center text-muted text-uppercase">Login</h3>
        <div class="col-md-12">
            {{ forms.error_message(form, mensagem)}}
        </div>
        <img alt="#MovimentoUFC" title="#MovimentoUFC" id="profile-img" class="profile-img-card" src="http://www.crateus.ufc.br/sigce/assets/img/ufc.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="" method="POST">
            <span id="reauth-email" class="reauth-email"></span>
            {{ forms.input(form.login) }}
            {{ forms.input(form.senha) }}
            <div id="remember" class="checkbox" hidden="">
                <label>
                    <input id="chk_remember" type="checkbox" value="remember-me"> Lembre de mim
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
         
</div><!-- /container -->


{% endblock %}