{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "uteis.html" as functions %}
{% import "funcoes.html" as msg %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {{ msg.message( mensagem )}}
            {{ msg.messageErro( mensagemErro )}}
        </div>
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Cadastrar Nova Categoria</h4></div>
                <div class="panel-body">
                    <form name="pesquisa" action="" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="categoria" class="control-label">Nome</label>
                                <input name="categoria" type="text" class="form-control" id="categoria" required>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group"><br>
                                    <button  type="submit" class="btn btn-primary">
                                        <i class="fas fa-save"></i> Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Categorias</div>
                <div class="panel-body table-responsive">
                    <table id="tabela" class="table table-condensed table-hover table-striped">
                        <thead class="bg-primary">
                            <tr><th>Nome</th><th class="text-center col-md-1">Excluir</th></tr>
                        </thead>
                        <tbody>
                            {% for categoria in categorias %}
                            <tr>
                                <td>{{categoria.getNome}}</td>
                                <td style="width: 50px;" class="text-center bg-danger" data-toggle="modal" data-target="#modalExcluir"><a onclick="btnExcluir(' ../cadastro/categoria/delete/{{categoria.getCategoria_id}} ', 'Excluir categoria' , 'Deseja realmente excluir a categoria?')"  id="btnExcluir" style="cursor: pointer;"> <i class="far fa-trash-alt"></i> </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{{ functions.modalExcluir() }}
{% endblock %}