{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ forms.error_message(form, mensagem)}}
    </div>
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Cadastrar Nova Categoria</h4></div>
        <div class="panel-body">
          <form name="pesquisa" action="" method="POST">
            <div class="row">
              <div class="col-md-4">
                <label for="categoria" class="control-label">Nome</label>
                <input name="categoria" type="text" class="form-control" id="categoria" required>
              </div>
              <div class="col-md-2">
                <div class="form-group"><br>
                  <button  type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Salvar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Categorias</div>
        <div class="panel-body table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="bg-primary">
              <tr><td>Nome</td><td class="text-center">Excluir</td></tr>
            </thead>
            <tbody>
              {% for categoria in categorias %}
              <tr><td>{{categoria.getNome}}</td><td class="text-center"><input type="submit" onclick=""> </td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}