{% extends "base.html" %}
{% import "funcoes.html" as msg %}
{% import "uteis.html" as functions %}
{% block content %}
<div class="col-md-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="novo/branco"><i class="far fa-file"></i> Criar Ativo em Branco</a></li>
                <li ><a href="main"><i class="fas fa-box-open"></i> Criar Ativo Através de Modelo</a></li>

            </ul>
        </div>
    </nav>
    {{ msg.message( mensagem )}}
</div>

<div class="col-md-12">
    <input type="hidden" id="nomeFiltro" class="form-control" name="nomeFiltro" >
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Filtros</h4></div>
        <div class="panel-body">
            <form id="formFiltro" method="get" action="">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" class="form-control" name="nome" >
                    </div>

                    <div class="form-group col-md-2">
                        <label for="categoria">Categoria</label>
                        <select required class="form-control" id="categoria" name="categoria">
                            <option value="n">  </option>
                            {% for _categoria in categorias %}
                            <option value="{{_categoria.categoria_id}}"> {{_categoria.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="modelo">Modelo</label>
                        <select required class="form-control" id="modelo" name="modelo">
                            <option value="n">  </option>
                            {% for _modelo in modelos %}
                            <option value="{{_modelo.modelo_id}}"> {{_modelo.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="conservacao">Estado de Conservação</label>
                        <select required class="form-control" id="conservacao" name="conservacao">
                            <option value="n">  </option>
                            {% for _conservacao in conservacoes %}
                            <option value="{{_conservacao.conservacao_id}}"> {{_conservacao.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="btn"></label><br />
                        <!--onclick="colocaFiltros()"-->
                        <button class="btn btn-default" id="btn">
                            <i class="fas fa-search"></i> Filtrar
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="setor">Setor</label>
                        <select required class="form-control" id="setor" name="setor">
                            <option value="n">  </option>
                            {% for _setor in setores %}
                            <option value="{{_setor.setor_id}}"> {{_setor.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="dataAtesto">Data de Atesto</label>
                        <input class="form-control" type="date" name="dataAtesto" id="dataAtesto" value="">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="fornecedor">Fornecedor</label>
                        <input type="text" id="fornecedor" class="form-control" name="fornecedor" >
                    </div>

                    <div class="form-group col-md-2">
                        <label for="notaFiscal">Nota Fiscal</label>
                        <input type="text" id="notaFiscal" class="form-control" name="notaFiscal" >
                    </div>
                </div>

                <div class="row">
                    
                    <div class="form-group col-md-2">
                        <label for="status">Status</label>
                        <select required class="form-control" id="status" name="status">
                            <option value="n">  </option>
                            {% for _status in status %}
                            <option value="{{_status.status_id}}"> {{_status.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group col-md-2">
                        <label for="empenho">Empenho</label>
                        <input type="text" id="empenho" class="form-control" name="empenho" >
                    </div>
                    
                    <div class="form-group col-md-5">
                        <label for="descricao">Descrição</label>
                        <input type="text" id="descricao" class="form-control" name="descricao" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<input type="button" class="btn btn-primary" onClick="pegaFiltrosLista()" value="Hue"/>-->
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Ativos (Bens Permanentes)</h4></div>
        <!--//http://10.5.5.10/siap/ativo/mov_grup_aux/-->
        <!--<form id="myform" method="post">-->
        <div class="panel-body">
            
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <!--id="tabela" class="table table-bordered table-striped table-hover"-->
                    <table id="tabelaAtivos" class="table-bordered table-striped table-hover">
                        <thead class="bg-primary">
                            <tr><th ></th><th >...</th><th >Patrimônio</th><th >Nome</th><th >Categoria</th><th >Modelo</th><th >Data de Atesto</th><th >Status</th><th >Est. Conservação</th><th >Setor</th>
                                <th class="text-center">Movimentação</th><th class="text-center">Excluir</th></tr>
                        </thead>
                        <tbody>
                            {% for ativo in ativos %}

                            <tr >
                                <th style="width: 30px; height: 30px"><input type="checkbox" id="patrimoniosCheck" name="patrimonios[]" value="{{ativo.patrimonio}}"/>

                                </th>
                                <th >
                                    <div class="img-responsive">
                                        <div class="img-ativo-show"  style="background-image: url('../uploads/imagem/{{ ativo.foto}} '); ">

                                            <!--  <img style="width: 50px"   src="../uploads/imagem/{{ativo.foto}}">-->
                                        </div>
                                    </div>
                                </th>
                                <td title="{{ativo.descricao}}">{{ativo.patrimonio}}</td>
                                <td ><a href="atualizar/{{ativo.patrimonio}}"> {{ativo.nome}}</a></td>
                                <td title="{{ativo.descricao}}"> {{ativo.categoria.nome}}</a></td>
                                <td title="{{ativo.fabricante.nome}}">{{ativo.modelo.nome}}</td>
                                <td title="{{ativo.descricao}}">{{ativo.data_atesto|date("d/m/Y")}}</td>
                                <td title="{{ativo.descricao}}">{{ativo.status.nome}}</td>
                                <td title="{{ativo.descricao}}">{{ativo.conservacao.nome}}</td>
                                <td title="{{ativo.setor.nome}}">{{ativo.setor.sigla}}</td>
                                <td style="width: 70px;" class="text-center bg-success"><a href="movimentacao/{{ativo.patrimonio}}"><i class="fas fa-people-carry"></i></a></td>
                                <td  style="width: 50px;" class="text-center bg-danger" data-toggle="modal" data-target="#modalExcluir"> <a onclick="btnExcluir(' {{base_url()}}/ativo/delete/{{ativo.patrimonio}} ', 'Excluir bem' , 'Deseja realmente excluir o bem?')"  id="btnExcluir" style="cursor: pointer;"> <i class="far fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center"><input type="button" class="btn btn-primary" onClick="verificarCheckBox()" value="Movimentação em Lote"/></div>
                </div>
            </div>
        </div>
        <!--</form>-->
    </div>
</div>

{{ functions.modalExcluir() }}
{% endblock %}