{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "funcoes.html" as msg %}
{% import "uteis.html" as functions %}
{% block content %}

<div class="col-md-8 col-md-offset-2">
    {{ msg.message(mensagem)}}
    {{ msg.messageErro(mensagemErro)}}
</div>
<div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Movimentação de um Grupo de Ativos</h4></div>
        <div class="panel-body">
<!--            <div class="row">
                <div class="col-md-3">
                    <img style="max-width: 450px; max-height: 250px" src="{{base_url()}}/assets/img/mov_grupo.jpg">
                </div>
                <div class="col-md-9 text-left">
                    Alteração Feita: A classe do h3 era class="text-muted", mas a img do bem estava em cima do nome, então mudei p/ class="text-center"
                    <h3 class="text-center">Patrimônios:</h3>
                    <br />
                    <div Class="listaItem" style="border-bottom: 1px solid graytext; padding-bottom: 0px;" >
                        {% for ativo in ativos%}
                        {{ativo.patrimonio}}; 
                        {% endfor %}
                    </div>

                </div>

            </div>-->
            <form name="cadastro" action="" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="setor">Setor (Destino)</label>
                        <select required class="form-control" id="setor" name="setor">
                            {% for _setor in setores %}
                            <option value="{{_setor.setor_id}}"> {{_setor.nome}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="setor">Data da Movimentação</label>
                        <input class="form-control" type="date" name="movimentacao_data" id="movimentacao_data" value="{{"now"|date("Y-m-d")}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="setor">Documento</label>
                        <input required="" class="form-control" type="file" name="documento" id="documento">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="observacao" class="control-label">Observação</label>
                        <textarea id="observacao" class="form-control" name="observacao"> </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <button  type="submit" class="btn btn-primary">
                                <i class="far fa-save"></i> Salvar
                            </button>
                        </div>
                    </div>
                </div>
       <div class="row">
                <div class="col-md-2">
                    <img style="max-width: 450px; max-height: 250px" src="{{base_url()}}/assets/img/mov_grupo.jpg">
                </div>
                <div class="col-md-8 col-md-offset-1 table-responsive">
                    <!--id="tabela" class="table table-bordered table-striped table-hover"-->
                    <table id="tabelaAtivos" class="table-bordered table-striped table-hover">
                        <thead class="bg-primary">
                            <tr><th >Patrimônio</th><th >Setor de Origem</th><th >Nome</th><th class="text-center">Remover</th></tr>
                        </thead>
                        <tbody>
                            {% for ativo in ativos %}

                            <tr id="{{ativo.patrimonio}}" title="{{ativo.descricao}}">
                                <td >{{ativo.patrimonio}} <input type="hidden" value="{{ativo.patrimonio}}" name="pat[]"> </td>
                                <td title="{{ativo.setor.nome}}">{{ativo.setor.sigla}}</td>
                                <td >{{ativo.nome}}</td> 
                                <td  style="width: 50px;" class="text-center bg-danger" data-toggle="modal" data-target="#modalRemover"> <a onclick="btnRemover({{ativo.patrimonio}})"  id="btnRemover" style="cursor: pointer;"> <i class="far fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
                </form>
            
        </div>
    </div>
</div>

{{ functions.modalRemover() }}
{% endblock %}