{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "uteis.html" as functions %}
{% import "funcoes.html" as msg %}

{% block content %}
<div class="container">
  {{ msg.message( mensagem )}}
  {{ msg.messageErro(mensagemErro)}}
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Atualizar Modelo</h4></div>
    <div class="panel-body">
      <form name="cadastro" action="" method="POST" enctype="multipart/form-data">
        <input name="foto_bem" type="hidden" value="sem_imagem.jpg">
        <div class="row">
          <div class="col-md-2">
            <figure class="figure">
              {% if foto %}
              <img class="img-responsive img-thumbnail"  alt="imagem do bem" src="{{base_url()}}/uploads/imagem/{{foto}}">
              {% else %}
              <img class="img-responsive img-thumbnail"  alt="imagem do bem" src="{{base_url()}}/uploads/imagem/sem_imagem.jpg">
              {% endif %}
              <figcaption class="figure-caption text-center text-muted">Imagem do Ativo</figcaption>
            </figure>

          </div>
          <div class="col-md-10">
            <div class="row">
              {{forms.input(form.empenho, 2)}}
              {{forms.input(form.nome, 4)}}
              {{forms.input(form.nota_fiscal, 2)}}
              {{forms.input(form.foto, 4)}}
            </div>
            <div class="row">
              {{forms.input(form.data_atesto, 3)}}
              {{forms.input(form.tipo_de_aquisicao, 4, null, functions.btnAddItens('Tipo de Aquisição|tipo_de_aquisicao', 'Adicionar Tipo de Aquisição'))}}
              {{forms.input(form.estado_de_conservacao, 5, null, functions.btnAddItens('Estado de Conservação|estado_de_conservacao', 'Adicionar Estado de Conservação'))}}
            </div>
            <div class="row">
              {{forms.input(form.fornecedor, 3)}}
              {{forms.input(form.status, 3, null, functions.btnAddItens('Status|status', 'Adicionar Tipo de Status'))}}
              {{forms.input(form.categoria, 6, null, functions.btnAddItens('Categoria|categoria', 'Adicionar Tipo de Categoria'))}}
            </div>
            <div class="row">
              {{forms.input(form.marca, 3, null, functions.btnAddItens('Marca|marca', 'Adicionar Marca'))}}
              {{forms.input(form.modelo, 4, null, functions.btnAddItens('Modelo|modelo', 'Adicionar Modelo'))}}
              {{forms.input(form.setor, 5, null, functions.btnAddItens('Setor|setor', 'Adicionar Setor'))}}
            </div>
          </div>
        </div>

        <div class="row">
          {{forms.input(form.descricao, 12)}}

        </div>
        <div class="row">
          {{forms.input(form.observacao, 12)}}
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="form-group">
              <button  type="submit" class="btn btn-primary">
                <i class="far fa-save"></i> Salvar
              </button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
                <a  data-toggle="modal" data-target="#modalCancelar" onclick="btnCancelar(' {{base_url()}}/ativo/main ', 'Cancelar atualização', 'Deseja realmente cancelar a atualização do modelo ?<br />Todas as alterações serão perdidas')" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{ functions.modalItens() }}
{{ functions.modalCancelar() }}
{% endblock %}

