{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-6 col-md-offset-3 text-center">
              <img class="img-responsive" src="http://www.crateus.ufc.br/documentos/site/comunicacao/brasao/Bras%C3%A3o%20Vertical%20Crateus%20Policromatico.png" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}