{% macro message(mensagem) %}
{% if mensagem %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

  {{ mensagem|raw }}


</div>
{% endif %}
{%- endmacro %}

{% macro messageErro(mensagemErro) %}
{% if mensagemErro %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

  {{ mensagemErro|raw }}


</div>
{% endif %}
{%- endmacro %}

{% macro messagem(classe, mensagem) %}
{% if mensagem %}
<div class="alert alert-{{ classe }} alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

  {{ mensagem|raw }}


</div>
{% endif %}
{%- endmacro %}