{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "uteis.html" as functions %}
{% import "funcoes.html" as msg %}

{% block content %}
<div class="col-md-12">
  <!--{{ forms.error_message(form, mensagem )}}-->
  {{ msg.messagem(classe, texto)}}
</div>
<div class="col-md-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="produto/novo"><i class="fas fa-box-open"></i> Novo Ítem</a></li>
        <li><a data-toggle="collapse" href="#collapseFiltro" role="button" aria-expanded="true" aria-controls="collapseFiltro"><i class="fas fa-search"></i> Filtros</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-uppercase text-muted"><i class="fas fa-clipboard-list"></i> Gerenciamento de Produtos</h4></div>
    <div class="panel-body">
      <div class="collapse" id="collapseFiltro">
        <div class="jumbotron">
          <form action="" method="GET">
            <div class="row">
              <div class="col-md-2">
                <label for="c_barras" class="control-label">Cód. Barras</label>
                <input name="c_barras" type="text" class="form-control" id="c_barras">
              </div>
              <div class="col-md-4">
                <label for="nome" class="control-label">Descrição</label>
                <input name="nome" type="text" class="form-control" id="nome" >
              </div>
              <div class="col-md-2">
                <label for="unidade" class="control-label">Unidade</label>
                <select name="unidade" class="form-control" id="unidade" >
                  <option value="%">Todas</option>
                  {% for unidade in unidades  %}
                  <option value="{{unidade.unidade_codigo}}">{{unidade.nome}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="grupo" class="control-label">Grupo</label>
                <select name="grupo" class="form-control" id="grupo" >
                  <option value="%">Todos</option>
                  {% for grupo in grupos  %}
                  <option value="{{grupo.grupo_codigo}}">{{grupo.nome}}</option>
                  {% endfor %}
                </select>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group green-border-focus">
                  <label for="observacao">Observação</label>
                  <textarea class="form-control" id="observacao" name="observacao" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group"><br>
                  <button  type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i> Filtrar
                  </button>
                  <a class="btn btn-default" data-toggle="collapse" href="#collapseFiltro" role="button" aria-expanded="true" aria-controls="collapseFiltro"><i class="fas fa-times"></i> Cancelar</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <form name="cadastro" action="" method="POST">
        <div class="row">
          <div class="col-md-12">
            <table id="tabela" class="table table-condensed table-hover">
              <thead class="bg-primary">
                <tr>
                  <th>Código Barras</th>
                  <th>Descrição</th>
                  <th>U. Medida</th>

                  <th>Grupo</th>
                  <th>Local</th>
                  <th>Quantidade</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for produto in produtos %}
                <tr class="{{produto.getCorClassQuantidadeMinima}}" ondblclick="editarProduto('{{produto.produto_codigo}}')">
                  <td > {{produto.getCodigo_barras()}}</td>
                  <td title="{{produto.observacao}}"> {{produto.nome}}</td>
                  <td > {{produto.unidade.nome}}</td>

                  <td > {{produto.grupo.nome}}</td>
                  <td title="{{produto.setor.nome}}"> {{produto.setor.sigla}}</td>
                  <td class="text-center" title="Quantidade Mínima: {{produto.quantidade_minima}}"> {{produto.quantidade}}</td>
                  <td class="col-md-2 text-center">
                    <a href="editar"> {{functions.btnAddEntrada(produto.nome~'|'~produto.produto_codigo~'|'~produto.setor.setor_id, 'Entrada no estoque')}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a title="Saída" href="saida/{{produto.produto_codigo}}"> <i style="color: #d58512" class="fas fa-hands-helping fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a title="Excluir" onclick="return confirm('Tem certeza que deseja excluir o produto {{produto.nome}} ?')" href="excluir/{{produto.produto_codigo}}"><i style="color: red" class="far fa-trash-alt fa-2x"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabelEntrada"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Entrada / <span id="titulo"></span></h4>
      </div>
      <form action="entrada" method="POST">
        <input type="hidden" id="item" name="item" value="">
        <input type="hidden" id="setor_id" name="setor_id" value="">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <br>
                <label for="quantidade">CPF / CNPJ do Fornecedor</label>
                <input class="form-control mascara-cpfcnpj" id="doc_select" type="text" value="" onblur="notaSelect()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label for="quantidade">Nome / Razão Social</label>
                <input disabled="" class="form-control" id="razaosocial_select" type="text" value="">
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label for="nota" class="control-label">Nota Fiscal</label>
                <select ondblclick="notaSelect()" name="nota" class="form-control" id="nota_select" >

                </select>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="form-group">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="quantidade">Quantidade</label>
                  <input class="form-control" id="quantidade" name="quantidade" type="number" value="" required>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="quantidade">Data de Vencimento</label>
                  <input class="form-control" id="dta_venc" name="dta_venc" type="date" value="" >
                </div>
              </div>
            </div>
          </div>

          <hr>
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Salvar">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
